<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>众包同城跑腿配送服务平台后台系统</title>
    {include file="common/top"}
</head>

<body>
{include file="common/header"}
<div class="main-container container-fluid">
    <div class="page-container">
        <!-- Page Sidebar -->
        {include file="common/menu"}
        <!-- /Page Sidebar -->
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                    <li><a href="{:url('index/index')}">系统</a></li>
                    <li><a href="{:url('merchant/lst')}">商家列表</a></li>
                    <li class="active">查看商家</li>
                </ul>
            </div>
            <!-- /Page Breadcrumb -->

            <!-- Page Body -->
            <div class="page-body">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <div class="widget-body">
                                <div id="horizontal-form">
                                    <form class="form-horizontal" role="form" action=""  enctype="multipart/form-data"   method="post">
                                        <div class="form-group" style="float: left">
                                            <div class="col-sm-6  no-padding-right">
                                                
                                                <img src="https://imgpica.oss-cn-hangzhou.aliyuncs.com/{$users.pic}" height="80">
                                            
                                            </div>
                                        </div>
                                        <div class="form-group" style="float: left;margin-left: 40px;margin-top: 30px">
                                            <label  for="username" class="col-sm-3 control-label no-padding-right">用户名</label>
                                            <div class="col-sm-6">
                                                <input class="form-control" value="{$users.username}" id="username" readonly="value" name="username" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group" style="float: left;margin-left: 10px;margin-top: 30px">
                                            <label for="group_id" class="col-sm-4 control-label no-padding-right">性别</label>
                                            <div class="col-sm-6">
                                                {if condition="$users['sex'] eq 1"}
                                                 <input class="form-control" value="女" id="sex" readonly="value" name="username" type="text">
                                                {else /}
                                                 <input class="form-control" value="男" id="sex" readonly="value" name="username" type="text">
                                                {/if}

                                            </div>
                                        </div>
                                        <div class="form-group" style="float: left;margin-left: 100px;margin-top: 30px">
                                            <label for="age" class="col-sm-2 control-label no-padding-right">年&nbsp;&nbsp;&nbsp;&nbsp;龄</label>
                                            <div class="col-sm-6">
                                                <input value="{$users.age}" class="form-control" id="age" readonly="value"  name="age"  type="text">
                                            </div>
                                        </div>
                                       
                                        <div class="form-group" style="clear: both;">
                                            <label for="phonenum" class="col-sm-2 control-label no-padding-right">手机号</label>
                                            <div class="col-sm-4">
                                                <input value="{$users.phonenum}" class="form-control" id="phonenum"  readonly="value" name="phonenum"  type="text">
                                            </div>
                                        </div>
                                         <div class="form-group">
                                            <label for="truename"class="col-sm-2 control-label no-padding-right">姓&nbsp;&nbsp;&nbsp;&nbsp;名</label>
                                            <div class="col-sm-4">
                                                <input  value="{$users.truename}"  class="form-control" id="truename"  readonly="value" name="truename"  type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="email"class="col-sm-2 control-label no-padding-right">邮&nbsp;&nbsp;&nbsp;&nbsp;箱</label>
                                            <div class="col-sm-4">
                                                <input  value="{$users.email}"  class="form-control" id="email"  readonly="value" name="email"  type="email">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="power"class="col-sm-2 control-label no-padding-right">店铺名称</label>
                                            <div class="col-sm-4">
                                                
                                                <input  value="{$users.shop_name}"  class="form-control" id="shop_name"  readonly="value" name="shop_name"  type="text">
                                                  
                                            </div>
                                        </div>
                                        
                                       
                                        <div class="form-group">
                                            <label for="email"class="col-sm-2 control-label no-padding-right">地&nbsp;&nbsp;&nbsp;&nbsp;址</label>
                                            <div class="col-sm-4">
                                                <input  value="{$users.address}"  class="form-control" id="address"  readonly="value" name="address"  type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="creattime"class="col-sm-2 control-label no-padding-right">注册时间</label>
                                            <div class="col-sm-4">
                                                <input  value="{$users.creattime|date='Y-m-d',###}"  class="form-control" id="creattime"  readonly="value" name="creattime"  type="text">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="logintime"class="col-sm-2 control-label no-padding-right">登录时间</label>
                                            <div class="col-sm-4">
                                                <input  value="{$users.logintime}"  class="form-control" id="logintime"  readonly="value" name="logintime"  type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="ip"class="col-sm-2 control-label no-padding-right">注册城市</label>
                                            <div class="col-sm-4">
                                                <input  value="{$users.city}"  class="form-control" id="ip"  readonly="value" name="ip"  type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="power"class="col-sm-2 control-label no-padding-right">管&nbsp;&nbsp;&nbsp;&nbsp;理</label>
                                            <div class="col-sm-4">
                                                
                                                <input  value="商家"  class="form-control" id="power"  readonly="value" name="power"  type="text">
                                                  
                                            </div>
                                        </div>
                                        <div class="form-group" style="margin: auto">
                                            <a href="{:url('merchant/lst')}" class="btn btn-primary btn-sm shiny">
                                                <i class="fa fa-mail-reply"></i> 返回
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Page Body    required=""-->
        </div>
        <!-- /Page Content -->
    </div>
</div>

{include file="common/js"}
</body>
</html>