<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>众包同城跑腿配送服务平台后台系统</title>
        {include file="common/top"}
    </head>
    
    <body>
        {include file="common/header"}
        <div class="main-container container-fluid">
            <div class="page-container">
                <!-- Page Sidebar -->
                {include file="common/menu"}
                <!-- /Page Sidebar -->
                <!-- Page Content -->
                <div class="page-content">
                    <!-- Page Breadcrumb -->
                        <div class="page-breadcrumbs">
                            <ul class="breadcrumb">
                                <li class="active">控制面板</li>
                            </ul>
                        </div>
                        <!-- /Page Breadcrumb -->

                        <!-- Page Body -->
                        <div class="page-body"> 
                            <!-- <img src="__STATIC__/images/s7.png">   -->
                            <div style="text-align:center; line-height:1000%; font-size:24px;">
                                众包同城跑腿配送服务平台后台系统<br>
                            </div>
                        </div>
                
                    <!-- /Page Body -->
                </div>
                <!-- /Page Content -->
            </div>  
        </div>

        {include file="common/js"}
    </body>
</html>